<launch>
    <param name="topic_img"     type="string" value="/camera/color/image_raw" />
    <param name="topic_res_img" type="string" value="/segment/image_raw" />
    <param name="weight_name"   type="string" value="yolov8n-seg.engine" />

    <node pkg="yolov8_trt" name="segment" type="segment" output="screen" />
</launch>
